* {
    border: none;
    border-radius: 0;
    font-family: "NotoSansM Nerd Font", "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.6);
    /* Transparent bar background */
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

#pulseaudio,
#clock,
#clock.right,
#workspaces,
#battery,
#network,
#bluetooth {
    background-color: #1a1b26;
    padding: 4px 12px;
    margin: 6px 4px;
    border-radius: 10px;
}

#pulseaudio {
    color: #7aa2f7;
    padding: 4px 16px 4px 10px;
}

#pulseaudio.muted {
    color: #f7768e;
}

/* --- Center Module: Clock and Workspaces --- */
#clock {
    color: #bb9af7;
    margin-right: 2px;
}

#clock.right {
    color: #bb9af7;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#workspaces {
    background-color: #1a1b26;
    padding: 0px 6px;
}

#workspaces button {
    padding: 0px 6px;
    color: #565f89;
    border-radius: 10px;
}

#workspaces button.active {
    color: #7dcfff;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* --- Right Module: Battery --- */
#battery {
    color: #9ece6a;
}

#battery.charging,
#battery.plugged {
    color: #73daca;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #1a1b26;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tooltip {
    background: #1a1b26;
    border: 1px solid #7aa2f7;
    border-radius: 8px;
    padding: 8px 12px;
}

tooltip label {
    color: #c0caf5;
    font-family: "NotoSansM Nerd Font", sans-serif;
    font-size: 13px;
}

/* --- Network Module --- */
#network {
    color: #9ece6a;
    padding: 4px 18px 4px 10px;
}

#network.disconnected {
    color: #f7768e;
}

/* --- Bluetooth Module --- */
#bluetooth {
    color: #7dcfff;
}

#bluetooth.disabled {
    color: #565f89;
}

#bluetooth.connected {
    color: #73daca;
}